<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container mt-3">
    <form th:action="@{'/posts/create'}" th:method="post" th:object="${post}">
        <div class="form-group">
            <input th:field="*{title}" type="text" class="form-control" placeholder="Enter Post Title">
        </div>
        <div class="form-group">
            <textarea th:field="*{description}" class="form-control" rows="3"
                      placeholder="Enter post description"></textarea>
        </div>
        <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Create Post</button>
        </div>
    </form>
</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>