<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>
<header>
    <h1>Sign Up</h1>
</header>

<div class="container mt-3">
    <form th:action="@{/sign-up}" method="Post" th:object="${user}">
        <div class="form-group">
            <label for="username">Username</label>
            <input th:field="*{username}" id="username" class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input th:field="*{email}" id="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" id="password" type="password" class="form-control"
                   placeholder="Enter password"/>
        </div>
        <button class="btn btn-primary" value="Sign Up">Sign me up!</button>
        <div class="form-group mt-5">
            <p style="color: floralwhite">Already registered? <a class="font-italic" th:href="@{'login'}">Log In</a> to
                your profile.</p>
        </div>
    </form>
</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>